.env
*.swp
tmp
build
dist
*.egg-info
.vscode
__pycache__
SANDBOX
data
target
docker-compose.override.yml
docker-lock.json
oas_worker/devset/evaluations/*
*.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
